<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734647730920-p44egnpslq671eluu46k832g56pki1ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734647730920-p44egnpslq671eluu46k832g56pki1ue</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>734647730920-b6dmh6n0b0ee9a4fc0klrslp1av8cmv5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCC3_cHbT0WhgVjh5JL3xSpPv65-zNjPA4</string>
	<key>GCM_SENDER_ID</key>
	<string>734647730920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.takvim.app</string>
	<key>PROJECT_ID</key>
	<string>takvim-ch</string>
	<key>STORAGE_BUCKET</key>
	<string>takvim-ch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734647730920:ios:8a7e39622e0b711b6b3f5d</string>
	<key>DATABASE_URL</key>
	<string>https://takvim-ch-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>